
<h1>Upcoming New Works</h1>
<% if logged_in? %>
  <%= link_to "Add An Event", new_event_path %>
<% end %>
<% if current_user.admin? == true %>
  <%= link_to "Review Events", admin_path %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#tab1" class="active">This Month</a></li>

        <li class="tab col s3"><a href="#tab2">This Week</a></li>
        <li class="tab col s3"><a href="#tab3">Today</a></li>
      </ul>
    </div>
  </div>
 <div class="row">
    <div id="tab1" class="col s12">
  <%= month_calendar events: @performances do |date, performances| %>
  <%= date.day %>
    <% performances.each do |p| %>
    <div>
       <p><%= link_to p.event.title, event_path(p.event.id) %>
        <br>
      <%= p.formatted_time %></p>
    </div>
    <% end %>
  <% end %>
  </div>
</div>

<div class="row">
<div id="tab2" class="col s12">
<%= render 'weekly_calendar' %>
</div>
</div>

<div id="tab3" class="col s12">
  <h3>Today's Events</h3>
  <% if @todays_performances.length == 0 %>
  There are no performances today.
  <% else %>
  <ul>
  <% @todays_performances.each do |p| %>
  <li>
  <%= p.event.title %>
  </li>
</ul>
  <% end %>
<% end %>
</div>