
<h1>Upcoming New Works</h1>
<% if logged_in? %>
  <%= link_to "Add An Event", new_event_path %>
<% if current_user.admin? == true %>
  <%= link_to "Review Events", admin_path %>
<% end %>
<% else %>
<%=link_to "Sign Up", new_user_path %> or <%=link_to "Login", login_path %> to submit an event to the calendar.
<% end %>
<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#tab1" class="active">This Month</a></li>

        <li class="tab col s3"><a href="#tab2">This Week</a></li>
        <li class="tab col s3"><a href="#tab3">Today</a></li>
      </ul>
    </div>
  </div>


 <div class="row">
    <div id="tab1" class="col s12">
  <%= month_calendar events: @performances do |date, performances| %>
  <%= date.day %>
    <% performances.each do |p| %>

       <p>
          <%= link_to p.event.title, event_path(p.event.id), class: "showevent", id: "#{p.id}" %>
        <br>
      <%= p.formatted_time %></p>

      <div class="hidden" id="hidden<%=p.id%>" />
        <%= p.event.title %><br>
        <%= image_tag p.event.image.url(:thumb) %>
        <%= button_to "Buy Tickets", p.event.ticket_link %>
      </div>
    <!--    <div class="preview-holder" id="event<%=p.event.id%>">
      </div> -->
    <% end %>
  <% end %>
  </div>
</div>



<div class="row">
<div id="tab2" class="col s12">
<%= render 'weekly_calendar' %>
</div>
</div>

<div id="tab3" class="col s12">
  <h3>Today's Events</h3>
  <% if @todays_performances.length == 0 %>
  There are no performances today.
  <% else %>
  <ul>
  <% @todays_performances.each do |p| %>
  <li>
  <%= p.event.title %>
  </li>
</ul>
  <% end %>
<% end %>
</div>