
<h1><%= @event.title %></h1>

<%= link_to "Buy Tickets", @event.ticket_link %>
<p>Written by: <%= @event.writers %></p>
<p>Starring: <%= @event.performers %></p>
<p>Venue: <%= @event.venue %></p>
<p>About <%= @event.title%>: <%= @event.description%></p>
<p>Price Range: <%= @event.price_range %></p>

Performances:
<% @event.performances.each do |performance| %>
  <ul>
    <li>
      <% if performance.date && performance.start_time %>
      <%= performance.date.strftime("%B %e, %Y") %>
      <%= performance.formatted_time%>
    </li>
  </ul>
  <% end%>
<% end %>

<% if @event.video_link == nil || @event.video_link == ""%>
<p>There's no video for this event </p>
<% else %>
<iframe width="560" height="349" src="<%= "http://www.youtube.com/embed/"+@event.format_video %>"></iframe>
<% end %>

<% if current_user %>
  <% if current_user.admin? == true %>
    <%= link_to "Edit Event", edit_event_path(@event) %>
     <%= link_to "Delete Event", @event, method: :delete, data: { confirm: "Are you sure you want to delete this event?" } %>
  <% end %>
<% end %>

<a href="/events">Back to Calendar</a>


