<!DOCTYPE html>
<html>
<head>
  <title>NewWorksCalendar</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

</head>
<body>

<div class="navbar-fixed">
  <nav class="blue darken-2">
    <div class="nav-wrapper blue darken-2">
      <a href="/" class="brand-logo">New Works Calendar</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to 'calendar', events_path %></li>
          <% if logged_in? %>
            <li><%= link_to "profile", user_path(current_user) %></li>
            <li><%= link_to 'log out', logout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to 'sign up', new_user_path %></li>
            <li><%= link_to 'login', login_path %></li>
          <% end %>
        </ul>
     </div>
  </nav>
</div>

<%= yield %>

<footer class="light-blue darken-2 hide-on-med-and-down">
  <div class="row">
    <div class="col s12 m12 l6 center">
      <h5 class="white-text">New Works Calendar</h5>
    </div>
    <div class="col s12 m12 l6 center">
        <p class="white-text"> © 2016 NewWorksCalendar, all rights reserved</p>
    </div>
  </div>
</footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>
